/* Set body to be compatible with all screen resolutions */

body {
	padding: 0;
	margin: 0;
	width: 100%;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	height: 100%;
	overflow: hidden;
}

#topBar {
	width: 100%;
	height: 79px;
	border-bottom: 1px solid #000;
	background: url(../img/siteLogo.png) no-repeat #356AA0;
	position: relative;
}

#topMenu {
	float: left;
	color: #FFF;
	margin-left: 250px;
	height: 35px;
	display: table-cell;
	vertical-align: bottom;
	position: absolute;
	bottom: 0;
}

#disabilityImageHover {
	display: none;
	float:left;
	margin-left: 250px;
	margin-top: 12px;
	background: #FF7400;
	line-height: 22px;
	height: 22px;
}
#languageBar {
	position: absolute;
	padding-top: 10px;
	top: 0;
	right: 0;
	width: 100px;
	height: 20px;	
}
	

.topMenuForm {
   overflow: hidden;
   background: #ccc;
   border: 1px solid #fff;
}

#wrapper {
	overflow: hidden !important;
}

#operateMenu {
	float: right;
	right: 0;
	margin-top: 5px; 
	background: #254A70;
	color: #FFF;
	width: 40%; 
	text-align: center;
	margin-top: 5px;
	height: 45px;
	display: table-cell;
	vertical-align: bottom;
	position: absolute;
	bottom: 0;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-top-left-radius: 10px;
}

#operateMenu h2 {
	font-size: 12px;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: -5px;
}

#leftOperate {
	width: 25%;
	float: left;
	height: 35px;	
}

#rightOperate {
	width: 75%;
	float: right;
	height: 35px;
	
}

#canvas {
	margin: 0;
	padding: 0;
	height: 1092px;
	width: 2182px;
	background: url(../kart/kart_KE_5etg.jpg);
	overflow: hidden !important;
	position: relative;
}

#container {
	max-width: 100%;
	max-height: calc(100% - 80px);
	max-height: -ms-calc(100% - 80px);
	max-height: -webkit-calc(100% - 80px);
	max-height: -moz-calc(100% - 80px);
	max-height: -o-calc(100% - 80px);
	position: absolute;
	overflow: hidden !important;
}

#floorUpImage {
	margin-left: 5px;
}